<html>
<head>
    <title>Twitter WebDriver Interface</title>
    <h1 align="center">twitter Scraping</h1>
    <link rel="stylesheet" type="text/css" href="static/styles.css">

</head>
<body>
    <form method="POST" action="/">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br><br>
        <label for="subject">Subject:</label>
        <input type="text" id="subject" name="subject"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>